/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  color: var(--text-color, #000);
  font-family: var(--font-family-main, "Inter-Variable", sans-serif);
  font-size: 18px;
  background-color: var(--background-color, #fff);
  background-image: var(--background-image, url(../svg/pattern-light.svg));
  background-size: 4px 4px;
  background-attachment: fixed;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
}

button {
  font-family: var(--font-family-titles, "PressStart2P-Regular", sans-serif);
  font-weight: 400;
  font-size: 14px;
}

.block-decor {
  margin-inline: auto;
  border: solid 2px var(--text-color, #000);
  background-color: var(--background-color, #fff);
  max-inline-size: clamp(375px, 100vw, 700px);
}

.header {
  margin-block: 100px;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 25px;
  font-family: var(--font-family-titles, "PressStart2P-Regular", sans-serif);
  line-height: 1;
  text-align: center;
}

.header__main-title {
  margin-block-end: 20px;
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-end: 25px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: fit-content;
  margin: auto;
  padding-inline-start: 18px;
  font-size: 14px;
  text-align: left;
}

.theme-menu__button {
  position: relative;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  color: rgba(var(--hover-color));
  pointer-events: none;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  color: rgba(var(--hover-color));
  transition: color 0.3s;
}

.theme-menu__button::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: rgba(var(--hover-color));
  transform: scale(0);
  inset-inline-start: 0;
  inset-block-end: 0;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scale(1);
  transform-origin: left;
}

.theme-menu__button:disabled::before {
  content: "\25B6";
  position: absolute;
  animation: triangel infinite ease-in-out 0.5s alternate;
  inset-inline-start: -22px;
}

.card__title {
  border-bottom: solid 2px var(--text-color, #000);
  padding-inline: 10px;
  padding-block: 2px 0;
  font-size: 18px;
  line-height: 1.4;
  font-variation-settings: "wght" var(--font-weight-bold, 700);

  @media (width>=1140px) {
    padding-block: 3px;
  }
}

.card__title span {
  display: inline-block;
}

.card__pictures {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__section {
  border-top: solid 2px var(--text-color, #000);
  padding: 25px;
}

.card__paragraph {
  margin-block-end: 27px;
  line-height: 1.17;
  font-variation-settings: "wght" var(--font-weight-regular, 400);
}

.card__paragraph:last-of-type {
  margin-block-end: 25px;
}

.card__buttons-block {
  display: flex;
  justify-content: end;
  gap: 4px;
}

.card__pic-heart {
  height: 34px;
}

.sparks {
  opacity: 0;
}

.card__icon-button {
  border: solid 2px transparent;
}

.core {
  fill: var(--background-color, #fff);
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--text-color, #000);
  transition: fill 0.3s;
}

.card__icon-button:active .core {
  fill: var(--heart-main-color, red);
  transition: fill 0.3s;
}

.main-body {
  fill: var(--background-color, #fff);
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--text-color, #000);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-main-color, red);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-color, red);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-color, red);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.countour {
  fill: var(--text-color, #000);
  transition: fill 0.1s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-main-color, red);
  transition: fill 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: big-heart ease-in 0.3s alternate;
  animation-delay: 0.1s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks ease-in 0.3s alternate;
  animation-delay: 0.3s;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
  transition: border-color 0.3s;
}

.card__like-button {
  width: 130px;
  border: solid 2px var(--text-color, #000);
  padding-block: 10.5px;
  line-height: 0.9;
}

.button-action {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.button-action:focus,
.button-action:focus-visible {
  box-shadow: 2px 2px 0 var(--text-color, #000);
}

.button-action:hover {
  z-index: 2;
  color: var(--background-color, #fff);
  transition: color 1s;
}

.button-action::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  background-color: var(--text-color, #000);
  transform: translateX(-100%);
  block-size: 100%;
  inline-size: 100%;
}

.button-action:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.footer {
  padding-block: 50px 100px;
}

.footer__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 auto;
  padding-block: 15px;
  inline-size: clamp(19.375rem, 18.7368rem + 2.723vw, 21.1875rem);

  @media (width>=1440px) {
    flex-direction: row;
  }
}

.footer__pic-floppy {
  max-inline-size: 28px;
  max-block-size: 28px;

  @media (width>=1440px) {
    max-inline-size: 21px;
    max-block-size: 21px;
  }
}
